/*  your css code here. If applicable */

body {
	  background-color: #f5f5f5;
	}

.header {
	  background-color: #011e29;
	  color: white;
	  padding: 20px;
	  text-align: center;
	}

.latest {
	  flex: 1;
	  margin-right: 20px;
	}

article {
	  flex: 2;
	  margin-right: 20px;
	}

.pictorial {
	  flex: 1;
	}

main {
	  display: flex;
	  padding: 20px;
	}

.pictorial img {
	  width: 100%;
	  margin: 10px 0;
	}