body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #011e29;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 0;
}

.header h1 {
  margin: 0;
}

main {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.latest {
  flex: 1;
  padding: 20px;
  background-color: white;
  width: auto;
}

article {
  flex: 2;
  padding: 20px;
  background-color: white;
  width: auto;
}

.pictorial {
  flex: 1;
  padding: 20px;
  background-color: white;
  text-align: center;
  width: auto;
}

.pictorial img {
  width: 100%;
  margin: 10px 0;
}